/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/


/* Editor */

.toolbar button {
  min-width: 3rem;
  min-height: 3rem;
  vertical-align: top;
  max-height: inherit;
}

.toolbar .paragraph-style .labeling {max-height: inherit; display: block;}
.toolbar .paragraph-style .preview {max-height: inherit; display: block;}


.preview h1, .preview h2, .preview h3 {margin: 0; padding: 0;}
.preview { height: 100%;}

custom-editor[active]:before {
  content: "-";
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  display: block;
  pointer-events: none;
  outline: 2px dashed rgba(255,255,0,.5);
  outline-offset: -1px;
  z-index: 1
}

.editors-container { background: white;}


.toolbar .paragraph-style {position: absolute; left: 0; max-height: 3rem; display: block; height: 3rem; 
  min-width: 3rem; z-index: 2; /* to make it wide enough and accessible even when the text window is occluded or narrow */}


.editor-box {outline: 1px dashed rgba(0,0,0,.1); max-width:100vw; width:max-content; position: relative;padding-bottom:3.5rem;}
.editor-box #field {background: rgba(0,0,0,.05);}
custom-editor {background: rgba(0,0,0,.05);}



[contenteditable]:focus {
  outline: 0px solid transparent;
}
#field:focus {background:violet}
#field[contenteditable]:focus {background:white}

#field {cursor:grab;}

#field[contenteditable] {cursor:text;}




[data-elm-hot="true"] {
  height: inherit;
}



